<!doctype html>
<html class="x-admin-sm">

<head>
       <meta charset="UTF-8">
    <title>LinuxSecurity管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{#    <base id="myBaseId" target="_blank" />#}
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body class="content">
<table class="layui-hide" id="test" lay-filter="test"></table>

</body>
<script>
    layui.use(['table', 'jquery'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: '#test'
            , url: '/initdbshow'
            ,title:'初始数据库'
            , limit: 30
            , toolbar: "<div>初始数据库<div>"
            , defaultToolbar: ['filter', 'exports', 'print']
            , cols: [[
                {field: 'path', title: '文件路径', sort: true}
                , {field: 'stat', title: '文件属性'}
                , {field: 'MD5', title: 'MD5值校验', width: 240}
                , {field: 'ruleType', title: '策略规则', width: 150}
                , {field: 'ruleCheck', title: '策略检查项', width: 130}
            ]]
            , page: true
        });
    });
</script>
</html>